<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="container">
        <div class="col-md-6 mx-auto text-center">
             <div class="header-title">
                 <h1 class="title">Hello Django</h1>
             </div>
        </div>

        {% block signuppost %}

        {% endblock signuppost %}

        {% block signupform %}

        {% endblock signupform %}
   </div>
</body>