{% extends 'index.html'%}
{% load static %}


{% block loginContent %}

<!-- Navigation -->

{% if auth %}
	{% include 'navigation_logout.html'%}
{% else %}
  {% include 'navigation.html' %}
{% endif %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <h1>Clean Blog</h1>
                <span class="subheading">“The scariest moment is always just before you start.”<br>Stephen King</span>	
            </div>
        </div>
    </div>
</div>
</header>

<div class="container">
    <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title" style = "margin-bottom: 30px;">Sign in to CBlog</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="{% url 'blog:login' %}">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" id = "username" placeholder="Username..." class="form-control">
						</div>

						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>

								<input type="password" name="password" id = "password" placeholder="Password..." class="form-control" >
						</div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" name = "loginInfor" value="Login">
                        </div>
					</form>

				</div>		
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="{% url 'blog:register' %}" class="ml-2">Sign Up</a>
					</div>
			
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock loginContent %}